.container
    .row.registration(style='border: 1px solid red')
        .col-xs-12
            h1.section-heading.text-center #{__('REGISTRATION.TITLE')}
            p Оплата симпозіуму включає:  відвідання сесій, виставки, лекцій, участь у ветлабі
            | (згідно попереднього запису), концерт, обід, каву під час перерви і каву з експертом
            | (згідно попереднього запису). Товариська вечеря і екскурсія проводяться за додаткову плату.



