.partners(id="partners")
    .container
        .row
            .col-lg-12.col-md-12.col-sm-12.col-xs-12.text-center
                h2.section-heading #{__('PARTNERS.TITLE')}
        br
    .partners-carousel
        a(href='http://oculus.lviv.ua/', target='_blank')
            img(src='./assets/partners/oculus.png', title="Oculus", width='360', height="auto")
        a(href="http://www.bayer.ua", target="_blank")
            img(src="./assets/partners/bayer.png", title="Bayer", width="120", height="auto")
        a(href="http://www.vitamin.com.ua", target="_blank")
            img(src="./assets/partners/vitamin.png", title="Kyiv Vitamin Factory", width="180", height="auto")
        a(href="http://www.alcon.com/", target="_blank")
            img(src="./assets/partners/alkon.png", title="Alcon a novartis division", width="360", height="auto")
        a(href="https://worldmedicine.ua/", target="_blank")
            img(src="./assets/partners/world-medicine.png", title="Pharmaceutical Company", width="320", height="auto")
        a(href="http://r-optics.ua/", target="_blank")
            img(src="./assets/partners/r-optics.jpg", title="", width="205", height="auto")
