.partners(id="partners")
    .container
        .row
            .col-lg-12.col-md-12.col-sm-12.col-xs-12.text-center
                h2.section-heading #{__('PARTNERS.TITLE')}
        br
    .partners-row
        .partners-column
            a(href="http://oculus.lviv.ua/", target="_blank")
                img(src='./assets/partners/oculus.png')
            a(href="https://worldmedicine.ua/", target="_blank")
                img(src='./assets/partners/world-medicine.png')
            a(href="http://www.eng.farmaplant.de/about/", target="_blank")
                img(src='./assets/partners/farmaplant-logo.jpg')
            a(href="http://www.valeant.com/", target="_blank")
                img(src='./assets/partners/para.png')
        .partners-column
            a(href="http://www.vitamin.com.ua", target="_blank")
                img(src='./assets/partners/vitamin.png')
            a(href="http://r-optics.ua/", target="_blank")
                img(src='./assets/partners/r-optics.jpg' width="135px" height="auto")
            a(href="https://www.allergan.com/home", target="_blank")
                    img(src='./assets/partners/allergan.jpg')
            a(href="http://www.laboratoires-thea.com/en", target="_blank")
                img(src='./assets/partners/thea.png')
            a(href="https://ravita.ua/uk", target="_blank")
                    img(src='./assets/partners/ravita.png')
        .partners-column
            a(href="http://www.bayer.ua", target="_blank")
                img(src='./assets/partners/bayer.png', width="120", height="auto")
            a(href="https://www.polpharma.pl/en/", target="_blank")
                img(src='./assets/partners/polpharma.jpg')
            a(href="http://vismight.com.ua/", target="_blank")
                img(src='./assets/partners/vismight.png')
            a(href="http://www.sentisspharma.com/", target="_blank")
                img(src='./assets/partners/sentiss.png')
        .partners-column
            a(href="http://www.alcon.com/", target="_blank")
                img(src='./assets/partners/alkon.png')
            a(href="http://sona-pharm.com.ua/", target="_blank")
                img(src='./assets/partners/sona-farmexim.jpg')
            a(href="http://www.unimedpharma.eu/", target="_blank")
                img(src='./assets/partners/unimed-pharma-logo.png')
            a(href="http://www.ipmedical.com.ua/index.html?locale=ua", target="_blank")
                img(src='./assets/partners/ip-medical.jpg')

