.partners
    .container
        .row
            .col-lg-12.col-md-12.col-sm-12.col-xs-12.text-center
                h2.section-heading #{__('PARTNERS.TITLE')}
        br
    .partners-carousel
        a(href='http://oculus.lviv.ua/', target='_blank')
            img(src='./assets/partners/oculus.png', title="Oculus", width='360', height="auto")
        a(href="http://www.bayer.ua/products/healthcare/pharmaceuticalss/oftalmology/", target="_blank")
            img(src="./assets/partners/bayer.png", title="Bayer", width="220", height="auto")
