include modal

if lang === 'en'
    .container.tezy
        .row
            .col-xs-12.col-sm-12.col-md-12.col-lg-12.text-center
                h1.section-heading ABSTRACT SUBMISSION
                h4 Submission Deadline: 31 january 2018
                br
        .row
            .col-xs-12.col-sm-12.col-md-offset-1.col-md-10.col-lg-offset-1.col-lg-10.text-left
                h4.list-titles TERMS AND CONDITIONS
                ul.tezy-text
                    li All submissions must be made online by the deadline, 31 January 2018.
                    li Submissions by post, email, fax or any other means will NOT be accepted.
                    li
                        | Once you have submitted your abstract you will be sent an email summary. Check this to
                        | make sure all information is correct. The organizers will not accept any responsibility
                        | for abstracts that have not been submitted properly.
                    li
                        | All abstracts will initially be reviewed, graded and accepted or rejected by the
                        | Programme Committee.
                    li
                        | The Committee reserves the right to determine whether a free paper submission is
                        | accepted. The decision of the Committee is final.
                    li
                        | If an abstract is accepted the named presenter must be a registered delegate at the
                        | Meeting and give the presentation.
                br
                br
                h4.list-titles ABSTRACT FORMAT
                p.tezy-text
                    | All submitted abstracts must be in Ukrainian or English and follow the
                    | structured format below:
                ul.tezy-text
                    li
                        | Title, Setting, Purpose, Methods, Results, Conclusions, Financial Disclosure of all
                        | authors
                    li Volume of abstract is max two pages
                    li
                        | When using abbreviations for the first time, care should be taken to spell them out in
                        | full with the abbreviation in parentheses after the full word/s the first time it appears
                        | in the text.
                br
                br
                h4.list-titles COMPLEX CASES PRESENTATIONS
                ul.tezy-text
                    li Only one case report per presentation is permitted
                    li
                        | Authors must present their case on a maximum of 5 PowerPoint slides. Each accepted case
                        | will be allocated 6 minutes (3 minutes for presentation and 3 minutes discussion).
                    li There will be an award for the best case presentation.
                br
                br
                h4.list-titles NUMBER OF SUBMISSIONS
                ul.tezy-text
                    li
                        | Each author may submit a maximum of two Free Papers and one Complex cases presentation.
        br
        br
        .row
            .col-xs-12.col-sm-12.col-md-offset-1.col-md-9.col-lg-offset-1.col-lg-9
                button.btn.btn-primary.btn-lg.pull-right.tyzy-submit-btn(data-toggle="modal", data-target="#theses-modal")
                    | Available soon ...
        br
        br

else
    .container.tezy
        .row
            .col-xs-12.col-sm-12.col-md-12.col-lg-12.text-center
                h1.section-heading ПОДАННЯ ТЕЗ
                h4 Кінцевий термін подання тез: 31 січня 2017 року.
                br
        .row
            .col-xs-12.col-sm-12.col-md-offset-1.col-md-10.col-lg-offset-1.col-lg-10.text-left
                h4.list-titles ВИМОГИ
                ul.tezy-text
                    li Всі тези повинні бути подані онлайн до 31 січня 2018 року.
                    li
                        | Надіслані по пошті, електронною поштою, факсом або будь-якими іншими способами НЕ
                        | приймаються.
                    li
                        | Після того, як ви подали свої тези, вам буде надіслано коротке повідомлення
                        | електронною поштою.
                        | Перевірте пошту, щоб переконатися, що вся інформація є вірною. Організатори не несуть
                        | відповідальності за тези, які не були належним чином подані.
                    li
                        | Всі тези спочатку будуть переглянуті, оцінені та прийняті або відхилені
                        | оргкомітетом.
                    li
                        | Оргкомітет залишає за собою право визначити, чи роботи будуть прийняті у вигляді
                        | доповіді.
                        | Рішення оргкомітету є остаточним.
                    li
                        | Якщо робота буде прийнята, доповідач повинен бути зареєстрованим делегатом на
                        | симпозіумі.
                br
                br
                h4.list-titles СТРУКТУРА
                p.tezy-text
                    | Всі тези повинні бути написані українською або англійською мовами і мати
                    | наступну
                    | структуру:
                ul.tezy-text
                    li
                        | Назва, вступ, мета, методи, результати, висновки, фінансові інтереси усіх авторів.
                    li Максимальний об’єм тез 2 сторінки.
                    li
                        | Використовуючи абревіатуру, слід після першого згадування написати повну назву
                        | використаних
                        | слів.
                br
                br
                h4.list-titles  ПРЕЗЕНТАЦІЇ СКЛАДНИХ ВИПАДКІВ
                ul.tezy-text
                    li Дозволяється надати лише один випадок на кожній презентації.
                    li Презентація повинна містити не більше 5 слайдів PowerPoint.
                    li
                        | Час презентації 6 хвилин (3 хвилини для презентації та 3 хвилини для обговорення).
                    li За найкращу презентацію буде присуджена нагорода.
                br
                br
                h4.list-titles КІЛЬКІСТЬ ТЕЗ
                ul.tezy-text
                    li Кожен автор може подати максимум дві тези та одну презентацію складних випадків.
        br
        br
        .row
            .col-xs-12.col-sm-12.col-md-offset-1.col-md-9.col-lg-offset-1.col-lg-9
                button.btn.btn-primary.btn-lg.pull-right.tyzy-submit-btn(data-toggle="modal", data-target="#theses-modal")
                    | Незабаром ...
        br
        br
