extends layout

block content
    include app/components/header/header
    include app/components/introduction/introduction
    include app/components/countdown/countdown
    include app/components/registration/registration
    include app/components/schedule/schedule
    include app/components/theses/theses
    include app/components/location/location

