doctype html
html
    head
        title Retina Lviv
        meta(charset="utf-8")
        base(href="/")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(name="description" content="«РЕТІНА-ЛЬВІВ 2018» – Інновації та контроверсії у вітреоретинальній хірургії. 4-5 травня 2018, м. Львів Україна")
        meta(name="keywords" content="Ретіна Львів, конференція Ретіна Львів, симпозіум Ретіна Львів")
        meta(name="keywords" content="Retina Lviv, Conference Retina Lviv, Symposium Retina Lviv")
        meta(name="Arche Galla" content="Retina Lviv")
        meta(name="Retina" content="Retina Lviv")
        link(rel="stylesheet" href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css')
        if (production)
            link(rel='stylesheet', href=`${style}`)

    body(id="page-top" class="index scrollme page-scroll")
        block content
    script(src=`${script}`, async="true")

